Package: opx-core
Version: 3.0.0~rc0
Section: misc
Priority: optional
Standards-Version: 3.9.2
Maintainer: Dell EMC <ops-dev@lists.openswitch.net>
Depends: bridge-utils,ebtables,python-systemd,opx-logging,opx-cps,opx-pas,opx-nas-common,opx-nas-linux,opx-nas-daemon,opx-nas-interface,opx-nas-l2,opx-nas-l3,opx-nas-acl,opx-nas-qos,opx-tmpctl,opx-tools,opx-alarm,python-opx-snmp
Architecture: all
Description: Core (platform-independent) OPX implementation
 All executables, libraries, scripts, ancillary files, etc. for platform-independent portion of OpenSwitch (OPX)
